
.basket-img{
    width:50px;
	height:auto;
	margin:3px;
}

.basket{
    display: relative;
} 

a{text-align:center}

body{
	font-family:Tahoma,Geneva,sans-serif;
	font-weight:400
	}

ol{margin:0;padding:0;list-style-type:none}

.menu{
	width:100%;
	padding:0 16px;
	display:block;
	position:relative
	}


 


