<div class="dropdown">
  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Sepet
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Adı</th>
          <th scope="col">Adedi</th>
          <th scope="col">Fiyatı</th>
          <th scope="col">Toplam</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-warning" *ngFor="let item of products$ | async; let i = index" >
          <th scope="row" ><img class="basket-img" [src]="item.src" alt=""></th>
          <td>{{item.name}}</td>
          <td>{{item.count}}</td>
          <td>{{item.price}}</td>
          <td>{{item.count*item.price}}</td>
        </tr>
      </tbody>
    </table> 
    <ng-container *ngIf="addedItems != undefined">
      <div class="container">
        <div class="row">
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block m-1" routerLink="shopcart">Sepete Git</button></div>
          <div class="col"> <span class="badge badge-danger mt-3">Sepetinizde {{addedItems.length}} çeşit ürün vardır</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


